.app{
  padding: 50px;
  background-color: #0d172c;
}

main {

  min-height: 100vh;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: flex-start;
}

h1 {
  background-color: #282c34;
  align-items: center;
  color: white;
  padding: 20px;
}


